.main__divMenu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bebebe;
  font-size: 1.2em;

  .socialMedia {
    display: flex;
    align-items: end;
    li {
        list-style: none;
        color: #bebebe;
        margin-bottom: 1rem; 
        padding-right: .5rem;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #bebebe;
        }
    }
  }
}

@media (min-width: 768px) {
  .main__divMenu {
    border-bottom: none;
    font-size: 1em;

    .socialMedia {
      display: flex;
      align-items: center;
      margin-left: 3rem;

      li {       
          margin-bottom: 0rem; 
      }
    }
  }
}

