.main {
  background-color: #161513;
}

.hardSkills,
.myProjects,
.myServices {
  .text__hardSkills,
  .text__myProjects,
  .text__MyServices {
    font-size: 1.8em;
    padding: 1rem;
    color: #fff;
  }

  hr {
    margin-left: 0.75rem;
    width: 75%;
  }
}

.hardSkills {
  background-color: #1c1c22;
  border-radius: 0 4rem 0 4rem;
  padding-bottom: 3rem;
}

.myProjects {
  background-color: #161513;
  padding: 0.1rem auto;
  margin-bottom: 1.5rem;
}

.myServices {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  max-width: 900px;
  padding: 2rem;
  background-color: #1c1c22;
  border-radius: 1rem;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .eachService {
    display: grid;
    padding: 0.7rem;
    width: 18.7rem;
    height: 15rem;
    border: 1px solid #ffffff37;
    border-radius: 1rem;
    list-style: none;
    color: #fff;
    background-color: #161513;

    h5 {
      font-size: 1em;
      font-weight: 600;
    }

    p {
      text-align: justify;
    }
  }
}

@media (min-width: 768px) {
  .hardSkills,
  .myProjects {
    display: block;
    margin: auto;
    border-radius: 0.3rem;
    max-width: 1200px;
  }

  .hardSkills {
    padding-bottom: 0.5rem;
  }

  .myProjects {
    h2 {
      margin: 1rem auto;
    }
  }
}
