.hardSkills,
.myProjects {
  .text__hardSkills,
  .text__myProjects {
    font-size: 1.8em;
    padding: 1rem;
    color: #fff;
  }

  hr {
    margin-left: 0.75rem;
    width: 75%;
  }
}

.hardSkills {
  background-color: #1c1c22;
}

.myProjects {
  background-color: #161513;
  padding: 0.1rem auto;
}
