.header {
  width: 100%;
  background-color: #161513;
  padding-bottom: 2.5rem;

  .div__topHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    .logo__name {
      font-size: 1.5em;
    }
  }
}


