.divMenu {
    li {
      list-style: none;
      margin: 1rem 0 1rem 1rem;
      cursor: pointer;

      a {
        font-size: 1em;
        text-decoration: none;
        color: #bebebe;
      }
    }
  }

@media (min-width: 768px) {
  .divMenu {
    display: flex;
    li {
      list-style: none;
      margin: 1rem;
      cursor: pointer;

      a {
        font-size: 1em;
        text-decoration: none;
        color: #bebebe;
      }
    }
  }
}